.code {
    border: 1px solid var(--accent-redesigned);
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
    border-radius: 16px;
}

.copyIcon {
    position: absolute;
    right: 20px;
    top: 20px;
}
