.popup {
    position: relative;
}

.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
}

@each $name, $p1, $p2 in (BottomLeft, top, right),
    (BottomRight, top, left),
    (TopRight, bottom, left),
    (TopLeft, bottom, right) {
    .options#{$name} {
        #{$p1}: 100%;
        #{$p2}: 0;
    }
}