.menu {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}