.addonLeft, .addonRight {
    display: flex;

    svg {
        color: var(--hint-redesigned);
    }
}

.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 6px 16px;

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg, .addonRight svg {
            color: var(--accent-redesigned);
        }
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;
}

.outline {
    background: none;
    border-radius: 34px;

    &.normal {
        border: 2px solid var(--icon-redesigned);
    }

    &.danger {
        border: 2px solid var(--cancel-redesigned);
    }

    &.success {
        border: 2px solid var(--save-redesigned);
    }
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m-redesigned);
}

.size_l {
    font: var(--font-l-redesigned);
}

.size_xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}

.withAddon {
    padding: 0 16px;   
}