.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

@each $text_size, $title_size in (s: m, m: l, l: xl) {
    .size_#{$text_size} {
        .text {
            font: var(--font-#{$text_size})
        }

        .title {
            font: var(--font-#{$title_size})
        }
    }
}
